@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

$header-font: 'Lato', sans-serif;
//$main-font: 'Playfair Display', serif;
$main-font: 'Slabo 27px', serif;


$primary-color: #fc0;
$background-color: #000;
//$content-color: #333;
$text-color: #fff;
$link-color: #111;
$link-hover-color: $primary-color;
$footer-bg-color: #373737;
$footer-text-color: #fff;
$footer-border-color: $primary-color;
