$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;


$primary-color: #fc0;
$background-color: #f5f5f5;
$text-color: #333;
$link-color: #111;
$link-hover-color: $primary-color;
$footer-bg-color: #373737;
$footer-text-color: #fff;
$footer-border-color: $primary-color;
