@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$background-color: rgb(21, 0, 255);

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
